<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title || "Application de quiz avec flashcards" }}
    </title>
  </head>
  <body>
    @include('partials/header')
    <div class="container">
        <!-- Grâce à cette ligne nous pourrons définir le contenu de chaque page -->
    {{{ await $slots.main() }}}
    </div>
    @include('partials/footer')
    </body>
</html>
