
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    text-align: center;
}

.login-container h2 {
    color: #9013FE; 
    margin-bottom: 20px;
}

.login-container label {
    font-weight: bold;
    margin-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    padding: 12px;
    border-radius: 8px;
    background-color: #9013FE; 
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #9013FE; 
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #9013FE;
}

p a:hover {
    text-decoration: underline;
}
